################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Uow.Core/obj/Release
/Uow.Data/obj/Release
/Uow.Entities/obj/Release
/Uow.Services/obj/Release
/Uow.Web/obj/Release
/Uow.Web.Framework/obj/Release
/Uow.Repositories/obj/Release
/Uow.Data/bin/
/Uow.Web/bin/
/Uow.Services/bin/
/Uow.Entities/bin/
/Uow.Core/bin/
/Uow.Repositories/bin/
/Uow.Web.Framework/bin/
/Uow.Data/obj/
/Uow.Web/obj/
/Uow.Services/obj/
/Uow.Entities/obj/
/Uow.Core/obj/
/Uow.Repositories/obj/
/Uow.Web.Framework/obj/
/packages
